# local dev & test and Mac spec. stuff
archive
.vscode
.DS_Store
phpunit
.phpunit.result.cache
phpunit.phar
foo.php
goo.php
boo.php
moo.php
cache 
dump
testme.php
test.php
session.php
sess2.php
tree.txt
phpunit.txt
.clocignore